<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <target name="databaseLog"
            xsi:type="Database"
            keepConnection="true"
            useTransactions="true"
            dbProvider="System.Data.SqlClient"
            connectionStringName="NLogDb"
            commandText="INSERT INTO Log(EventDateTime, EventLevel, UserName, MachineName, EventMessage, StackTrace, Type, Method, ErrorMessage, ClientName,MessageType,ReqResCorrelationId) VALUES (@EventDateTime, @EventLevel, @UserName, @MachineName, @EventMessage, @StackTrace, @Type, @Method, @ErrorMessage, @ClientName,@MessageType,@ReqResCorrelationId)">
      <parameter name="@EventDateTime" layout="${date:s}" />
      <parameter name="@EventLevel" layout="${level}" />
      <parameter name="@UserName" layout="${gdc:Username}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@EventMessage" layout="${message}" />
      <parameter name="@StackTrace" layout="${exception:StackTrace}" />
      <parameter name="@Type" layout="${exception:Type}" />
      <parameter name="@Method" layout="${exception:Method}" />
      <parameter name="@ErrorMessage" layout="${exception:Message}" />
      <parameter name="@ClientName" layout="${gdc:ClientName}"/>
      <parameter name="@MessageType" layout="${gdc:MessageType}"/>
      <parameter name="@ReqResCorrelationId" layout="${gdc:ReqResCorrelationId}"/>
      <dbProvider>sqlserver</dbProvider>
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="*" minlevel="Debug" enabled="true" writeTo="databaseLog"></logger>
  </rules>
</nlog>
