
@model FishMarket.Model.ViewModel.FishListViewModel
@{
    ViewBag.Title = "Fish List";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h3>Fish List</h3>
<div class="container-fluid">
    <div class="row">
        <a href="/Fish/Edit/0" class="btn btn-success pull-right">+ Add New Fish</a>
    </div>
</div>
<br />
@foreach (var fish in Model.Fishes)
{
    @Html.Partial("FishDetail", fish)
}
