<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">Fish Market</a>
                </div>
                <div class="navbar-default">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="/Account/LogOut" title="Logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        <div class="container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
